@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: 700;
  font-size: 5rem;
  color: black;
}
h2 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 5px;
  color: black;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 5px;
  color: black;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
  color: black;
}
