@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  text-transform: uppercase;

  font-family: "Fira Sans Extra Condensed", sans-serif;
}
h2 {
  text-transform: uppercase;

  font-family: "Fira Sans Extra Condensed", sans-serif;
}

h3 {
  text-transform: uppercase;

  font-family: "Fira Sans Extra Condensed", sans-serif;
}

h4 {
  text-transform: uppercase;

  font-family: "Fira Sans Extra Condensed", sans-serif;
}
